/* Main Layout */

html {
	display: -moz-box;			/* Firefox 19 */
	display: -ms-flexbox;		/* IE 10 */
	display: -webkit-flex;		/* Chrome */
	display: flex;				/* Opera 12.1, Firefox 20+ */
	-webkit-align-items:center;
	-webkit-justify-content:center;
	min-width:300px;
	font-size:1em;
}

body {
	padding:1em;
}

a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #FFFFFF;
}

a:active {
    color: #FFFFFF;
}

h1 {
	font-size:2em;
	font-family: 'Dosis', sans-serif;
}

p {
	font-family: 'Catamaran', sans-serif;
}

/* Add height for header and footer */
header, footer {
	height:100px; 
}

/* Sections flexbox properties */
header, article, aside, footer { 
	display: -webkit-flex; 
	-webkit-justify-content:center;
	-webkit-align-items:center;
}

/* Middle Div, aside & article sections */

.middle > * { 
	display:-webkit-flex;
}

/* Sections Flexbox */

header {
	/* Flexbox Properties */
	-webkit-flex: 1 0 0;
	-webkit-order:0;
	/* Layout */
	background: rgb(102, 121, 153);
	border-radius: 1em 1em 0 0;
	font-family: 'Titillium Web', sans-serif;
	font-size:2em;
}

article {
	/* Flexbox Properties */
	-webkit-flex: 2.5 0 0;
	-webkit-flex-flow:column;
	-webkit-order:1;
	/* Layout */
	background: rgb(102, 121, 153);
	padding:1em;
	text-align:center;
}

article p {
	padding:1em;
}

article h1 {
	padding-bottom:0.5em;
}

ul li {
	padding-bottom:1em;
	list-style-type:none;
}

/* Additional styles inside article element */
.boldtext {
	font-weight:bold;
	font-size:1.2em;
}

aside {
	/* Flexbox Properties */
	-webkit-flex:0 0 0;
	-webkit-flex-flow: column;
	-webkit-order:2;
	/* Layout */
	background: rgb(188, 193, 219);
	padding:1em;
	text-align:center;
}

footer {
	/* Flexbox Properties */
	-webkit-flex: 1 0 0;
	-webkit-flex-flow:column;
	-webkit-order:3;
	/* Layout */
	background: rgb(102, 121, 153);
	border-radius:0 0 2em 2em;
}

footer li {
	display:inline;
	/*Social Icons*/
}

/* About section */

/* Icon Right */

#about {
	display:-webkit-flex;
	-webkit-align-items:center;
	-webkit-justify-content:center;
}

#about .halfleft {
	/* layout */
	float:left;
	width:75%;
}

#about .halfright {
	/* layout */
	float:left;
	width:25%;
}

/* Contact Section */

#contact {
	display: flex;
	font-family: 'Catamaran', sans-serif;
	align-items:center;
	justify-content:center;
}

/* Icon Left */

#about2 {
	display:-webkit-flex;
	-webkit-align-items:center;
	-webkit-justify-content:center;
}

#about2 .halfleft2 {
	/* layout */
	float:left;
	width:25%;
}

#about2 .halfright2 {
	/* layout */
	float:left;
	width:75%;
}

/* Portfolio */

/* Portfolio image size */
.portfolio img {
	padding-bottom:0.5em;
	padding-top:0.5em;
	width:60%;
}

.portfolio h1 {
	padding:0.5em;
}

.portpage img{
	width:80%;
}

.portpage li {
	font-family: 'Catamaran', sans-serif;
	list-style-type:square;
	list-style-position:outside;
	padding-bottom:0.2em;
	
} 

#about .detail {
	display:-webkit-flex
	flex-flow:column;
}


/* ######################################### */
/* Media Queries Start */
/* ######################################### */

/* Larger than tablet */
@media (min-width: 750px) {

/* Add height for header and footer */
header, footer {
	height:100px; 
}

header, article, aside, footer { 
	display: -webkit-flex; 
	-webkit-justify-content:center; 
	-webkit-align-items:center;
}

/* Middle Div, aside & article sections */

.middle { /* .middle > * to display containers below each other */
	display:-webkit-flex;
	/* min-height:500px;*/
}

/* Sections Flexbox */

header p {
	/* Flexbox Properties */
	-webkit-flex: 1 0 0;
	-webkit-order:0;
	/* Layout */
	font-size:2em;
	text-align:center;
}

article {
	/* Flexbox Properties */
	-webkit-flex: 2.5 0 0;
	-webkit-flex-flow:column;
	-webkit-order:1;
	/* Layout */
	padding:1em;

}

/* Additional styles inside article element */
.boldtext {
	font-weight:bold;
}

aside {
	/* Flexbox Properties */
	-webkit-flex: 1 0 0;
	-webkit-flex-flow: column;
	-webkit-order:2;
	/* Layout */
	padding:1em;
}

footer {
	/* Flexbox Properties */
	-webkit-flex: 1 0 0;
	-webkit-flex-flow:row;
	-webkit-order:3;
}

footer li {
	display:inline;
	/* social icons */
	padding:0.5em;
}

/* Larger than desktop */
/* @media (min-width: 1000px) {
}

/* Media Queries End */

/* ######################################### */
/* ######################################### */
/* ######################################### */
/* !!LAYOUT END */
/* ######################################### */
/* ######################################### */
/* ######################################### */

/* ######################################### */
/* Other browser Flexbox properties */
/* ######################################### */

/** 
1.0
display: -webkit-box;		OLD - iOS 6-, Safari 3.1-6 
display: -moz-box;			OLD - Firefox 19- (buggy but mostly works)
display: -ms-flexbox;		TWEENER - IE 10 
display: -webkit-flex;		NEW - Chrome
display: flex;				NEW, Spec - Opera 12.1, Firefox 20+ 
Thanks CSS Tricks: https://css-tricks.com/using-flexbox/
*/