* {
    margin: 0;
    padding: 0;
}

body {
    background: #BBD2C5;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:#fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6;
    text-align: center;
}

.container {
    max-width: 315px;
    margin: auto;
    width:100%;
}

#showcase {
    height:150px;
    width: 100%;
}

#showcase h1 {
    font-size:2em;
    line-height: 1.3;
    position: relative;
    animation: heading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes heading {
    0% {top: -50px;}
    100% {top: 100px;}
}

#content {
    position: relative;
    animation-name: content;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes content {
    0% {left: -1000px;}
    100% {left: 0;}
}

.btn {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 1rem 3rem;
    border: 2px solid #536976;
    margin-top:40px;
    margin-right: 20px;
    opacity: 0;
    animation-name: btn;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;

    transition-property: transform;
    transition-duration: 1s;
}

.btn:hover {
    transform: rotateX(180deg);
}

@keyframes btn {
    0% {opacity: 0}
    100% {opacity: 1}
}



/* ######################################### */
/* Media Queries Start */
/* ######################################### */

/* Larger than tablet */
@media (min-width: 815px) {

    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background: #BBD2C5;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color:#fff;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        line-height: 1.6;
        text-align: center;
    }

    .container {
        margin: auto;
        padding: 0 30px;
    }
    
    #showcase {
        height:300px;
    }
    
    #showcase h1 {
        font-size:3.125em;
        line-height: 1.3;
        position: relative;
        animation: heading;
        animation-duration: 3s;
        animation-fill-mode: forwards;
    }
    
    @keyframes heading {
        0% {top: -50px;}
        100% {top: 200px;}
    }
    
    #content {
        position: relative;
        animation-name: content;
        animation-duration: 3s;
        animation-fill-mode: forwards;
    }
    
    @keyframes content {
        0% {left: -1000px;}
        100% {left: 0;}
    }
    
    .btn {
        display: inline-block;
        color: #fff;
        text-decoration: none;
        padding: 1rem 3rem;
        border: 2px solid #536976;
        margin-top:40px;
        margin-right: 20px;
        opacity: 0;
        animation-name: btn;
        animation-duration: 3s;
        animation-delay: 3s;
        animation-fill-mode: forwards;
    
        transition-property: transform;
        transition-duration: 1s;
    }
    
    .btn:hover {
        transform: rotateX(180deg);
    }
    
    @keyframes btn {
        0% {opacity: 0}
        100% {opacity: 1}
    }

}